@import url(./global/global.css);

/* Global */
@import url(./global/header.css);
@import url(./global/footer.css);

/* Home */
@import url(./global/home/introducao.css);
@import url(./global/home/planos.css);
@import url(./global/home/depoimentos.css);

/* Unidades */
@import url(./global/unidades/unidades.css);

/* Utilidades */
@import url(./util/componentes.css);
