.introducao-bg {
  background: url(../../../img/intro.jpg);
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.introducao h1 {
  padding-top: 250px;
  color: #db1c21;
  text-transform: uppercase;
  font: 700 3.5rem/1 "Poppins", sans-serif;
}

.introducao p {
  padding-top: 15px;
  margin-bottom: 15px;
  font: 400 1.5rem/1 "Poppins", sans-serif;
}

.introducao a {
  background-color: #ab292c;
  max-width: max-content;
  border-radius: 5px;
  padding: 10px 20px;
  font: 700 1rem/1.5 "Poppins", sans-serif;
  display: inline-block;
}

.introducao a:hover {
  background-color: #780006;
}

@media (max-width: 600px) {
  .introducao h1 {
    font-size: 2.5rem;
    padding-top: 100px;
  }
  .introducao p {
    font-size: 1rem;
  }
  .introducao a {
    padding: 10px;
    margin-bottom: 200px;
  }
  .introducao-bg {
    background: url(../../../img/intro.jpg);
    height: max-content;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: top center;
  }
}
