.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #780006;
  max-width: max-content;
  border-radius: 5px;
  padding: 5px 10px;
  font: 700 1.75rem "Poppins", sans-serif;
  display: inline-block;
}

.btn:hover {
  background-color: #5c080c;
}

.btn-sub {
  background-color: #ab292c;
  max-width: max-content;
  border-radius: 5px;
  padding: 5px 10px;
  font: 700 1.75rem "Poppins", sans-serif;
  display: inline-block;
}

.btn-sub:hover {
  background-color: #933234;
}
