footer {
  margin-top: 50px;
  border-top: 2px solid #414141;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: center;
}

.redes {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.footer-empresa h3,
.footer-contato h3 {
  font: 700 1.875rem/1 "Poppins", sans-serif;
}

.footer-empresa li a,
.footer-contato li a {
  font: 500 1.125rem/1 "Poppins", sans-serif;
  color: #b2b2b2;
}

.footer-empresa li a:hover,
.footer-contato li a:hover {
  color: white;
}

.footer-empresa li,
.footer-contato li {
  margin-top: 20px;
}

.redes a {
  transition: all 0.4s 0s ease;
}

.redes a:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    margin-top: 100px;
  }
}
